<?xml version="1.0" ?>

<launch>

  <arg name = "world_name"        value   = "hydrone_world"/>
  <arg name = "paused"            default = "false"/>
  <arg name = "use_sim_time"      default = "true"/>
  <arg name = "extra_gazebo_args" default = ""/>
  <arg name = "gui"               default = "true"/>
  <arg name = "recording"         default = "false"/>
  <arg name = "verbose"           default = "true"/>
  <arg name = "debug"             default = "0"                   
       doc = "Starts the Gazebo plugins in debug mode for more verbose output"/>

  <!-- Resume the logic in empty_world.launch, over-riding a number of arguments -->
  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
  
    <arg name = "world_name"   value = "/home/andressa/prh_ws/src/worlds/$(arg world_name).world" />
    <arg name = "paused"       value = "$(arg paused)" />
    <arg name = "use_sim_time" value = "$(arg use_sim_time)" />
    <arg name = "gui"          value = "$(arg gui)" />
    <arg name = "recording"    value = "$(arg recording)" />
    <arg name = "debug"        value = "$(arg debug)" /> 
    <arg name = "verbose"      value = "$(arg verbose)"/>
  </include>

  <include file = "$(find uuv_assistants)/launch/publish_world_ned_frame.launch"/>


</launch>
  
